<div class="card">
    <p-dataView #dv [value]="stashItemsFiltered" [paginator]="true" [rows]="9" filterBy="name" layout="list">
        <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                <p-dropdown [options]="leaguesList" [(ngModel)]="selectedLeague" placeholder="Filter By league"
                    (onChange)="onFilterChange($event.value)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                    <i class="pi pi-search"></i>
                    <input type="search" [(ngModel)]="search" pInputText placeholder="Search by Name"
                        (input)="dv.filter(search, 'contains')">
                </span>
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </ng-template>
        <ng-template let-item pTemplate="listItem">
            <div class="p-col-12">
                <div class="product-list-item">
                    <div class="product-list-detail">
                        <div class="item-name">{{item.name}}</div>
                        <div class="item-description">{{item.typeLine}}</div>
                        <i class="pi pi-user product-category-icon"></i>
                        <span class="product-category">{{item.accountName}}</span>
                    </div>
                    <div class="product-list-action">
                        <p-button icon="pi pi-plus-circle" label="Add Item"></p-button>
                        <span class="product-badge">League: {{item.league}}</span>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-item pTemplate="gridItem">
            <div class="p-col-12 p-md-4">
                <div class="product-grid-item card">
                    <div class="product-grid-item-content">
                        <div class="item-name">{{item.name}}</div>
                        <div class="item-description">{{item.typeLine}}</div>
                    </div>
                    <div class="product-grid-item-top">
                        <div>
                            <i class="pi pi-user product-category-icon"></i>
                            <span class="product-category">{{item.accountName}}</span>
                        </div>
                    </div>
                    <div class="product-grid-item-bottom">
                        <span class="product-badge">League: {{item.league}}</span>
                        <p-button icon="pi pi-plus-circle"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>